<div class="tab-pane" id="feedback">
    <h3>Extractor Feedback <button class="btn btn-default btn-small" ng-click="refreshFeedbackEntities();"><span class="glyphicon glyphicon-refresh"></span></button></h3>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>
                    Entity Type
                </th>
                <th>
                    Extracted Value
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in feedbackEntities">
                <td>
                    {{entity.type}}
                </td>
                <td>
                    {{entity.value}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>