<div style="margin-bottom: 15px; margin-top: 15px;" ng-show="lookaheadEnabled">
    <h3>Link Lookahead</h3>&nbsp<span id="lookahead_progress"></span>

    <div id="lookahead_results">
        <div ng-repeat="lookaheadObj in lookaheadLinks | orderBy:['matches.length', 'domain_search_matches.length']:true">
            <a target="_blank" ng-href="{{lookaheadObj.url}}">{{lookaheadObj.url}}</a>

            <div id="domain_search_hits_container" ng-if="lookaheadObj.domain_search_matches.length > 0">
                <button class="btn btn-primary" style="display:block; margin-left: 25px;" ng-click="searchHitsToggle(lookaheadObj);">domain search hits:
                    {{lookaheadObj.domain_search_matches.length}}
                </button>
                <table class="table table-bordered" ng-show="lookaheadObj.searchHitsShow">
                    <tr ng-repeat="searchMatches in lookaheadObj.domain_search_matches">
                        <td>
                            <span>{{searchMatches}}</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="lookahead_matches" ng-if="lookaheadObj.matches.length > 0">
                <button class="btn btn-primary" style="display:block; margin-left: 25px;" ng-click="matchesToggle(lookaheadObj);">shared entities: {{lookaheadObj.matches.length}}</button>
                <table class="table table-bordered" ng-show="lookaheadObj.matchesShow">
                    <tr ng-repeat="matches in lookaheadObj.matches">
                        <td>
                            <span>{{matches}}</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>