<table class="table">
  <tbody>
    <tr>
      <td>
        <b>Datawake Version:</b> {{versionNumber}}
      </td>
      <td align="right">
        {{datawake.domain.name}}/{{user.user_name}}
        <button class="btn btn-warning" ng-click="signOut()">Sign Out</button>
      </td>
    </tr>
  </tbody>

  <table class="table table-bordered">
    <tbody>
      <tr>
        <td>
          <b>Trail:</b>
        </td>
        <td style="white-space:nowrap;">
          <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trailModal" style="width: 5%">+</button>
          <select id="trail_select" class="form-control" ng-model="selectedTrail" ng-change="trailChanged(selectedTrail);" ng-options="trail.name for trail in trails" placeholder="Select a previous Trail" style="display: inline-block; margin-right: 10px; width: 95%">
          </select>
          <img ng-show="trailSpinner" src="../img/ajax-loader.gif" alt="Loading" />
        </td>
      </tr>
    </tbody>
  </table>
