<table class="table table-bordered">
    <tbody>
    <tr>
        <td>
            <b>User:</b> {{datawake.user.user_name}}
        </td>
        <td>
            <b>Org:</b> {{datawake.user.org}}
        </td>
        <td>
            <b>Version:</b> {{versionNumber}}
        </td>
    </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td>
            <b>Domain:</b>
        </td>
        <td>
            {{datawake.domain.name}}
        </td>
    </tr>
    <tr>
        <td>
            <b>Trail:</b>
        </td>
        <td>
            {{datawake.trail.name}}
        </td>
    </tr>
    <tr>
        <td><b>URL: </b></td>
        <td>{{current_url}}</td>
    </tr>
    <tr ng-show="rankingEnabled">
        <td>
            <b>URL Ranking:</b>
        </td>
        <td>
            <div id="star_rating"></div>
            <span id="url_rank_text">{{ranking}} / 10</span>
        </td>
    </tr>
    <tr>
        <td>
            <b>Page Visits:</b>
        </td>
        <td>
            {{pageVisits}}
        </td>
    </tr>
    </tbody>
</table>