<div class="tab-pane" id="visited-trail-links">
    <h3>Explored Pages <button class="btn btn-default btn-small" ng-click="refreshWebPages();"><span class="glyphicon glyphicon-refresh"></span></button></h3>

    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <td><b>Links</b></td>
                <td><b>Rank</b></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="link in visitedLinks | orderBy:['rank']:true">
                <td>
                    <a target="_blank" ng-href="{{link.url}}"><span ng-bind-html="link.title">{{link.title}}</span></a>
                    <table class="table table-bordered" ng-show="link.show">
                        <tbody>
                        <tr ng-repeat="entity in link.entities">
                            <td>
                                {{entity.entity}}
                            </td>
                            <td ng-if="entity.relevant">
                                {{trailEntities[entity.entity]}}
                            </td>
                            <td ng-if="!entity.relevant">
                                -{{irrelevantEntities[entity.entity]}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <button class="btn btn-info" ng-click="showEntities(link);">{{link.rank}}</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
