<div class="row">
  <div class="col-xs-12">
    <b>Prefetch v:{{versionNumber}}</b>
  </div>
</div>
<div class="row">
  <div class="col-xs-9">
    <b>User: </b> {{user.user_name}}
  </div>
  <div class="col-xs-2">
    <button class="btn btn-warning" ng-click="signOut()">Sign Out</button>
  </div>
</div>
<div class="row">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="form-group">
        <label for="trail_select" class="control-label col-xs-2">Trail:</label>
        <div class="col-xs-1">
          <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#trailModal">
            <i ng-hide="trailSpinner" class="fa fa-plus"></i>
            <i ng-show="trailSpinner" class="fa fa-refresh fa-spin"></i>
          </button>
        </div>
        <div class="col-xs-9">
          <select class="form-control" id="trail_select" ng-model="selectedTrail" ng-change="trailChanged(selectedTrail);" ng-options="trail.name for trail in trails" placeholder="Select a previous Trail">
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
