<div class="tab-pane" id="irrelevant-trail-entities">
    <div>
        <table class="table table-condensed">
            <thead>
            <tr>
                <td><b>Entities</b></td>
                <td><b>Rank</b></td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="entity in irrelevantEntitiesIter | orderBy:['rank']:true">
                <td>
                    {{entity.entity}}
                </td>
                <td>
                    {{entity.rank}}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
