<!DOCTYPE html>
<html ng-app="newTabApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Datawake Tab</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen"/>
    <link href="css/cover.css" rel="stylesheet">
</head>
<body ng-controller="NewTabCtrl">
<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="masthead clearfix">
                <div class="inner">
                    <h3 class="masthead-brand">DataWake</h3>

                    <div class="btn-group" style="display: inline-block;">
                        <button ng-class="{'btn btn-success active' : isDatawakeOn, 'btn btn-default': !isDatawakeOn}" ng-click="tracking(true)">
                            On
                        </button>
                        <button ng-class="{'btn btn-danger active' : !isDatawakeOn, 'btn btn-default': isDatawakeOn}" ng-click="tracking(false)">
                            Off
                        </button>
                    </div>

                    <ul class="nav masthead-nav">
                        <li>
                            <button id="signin">Sign in</button>
                        </li>
                        <li>
                            <button id="revoke">Sign out</button>
                        </li>
                        <li>
                            <div id="user_info">{{user.userName}}</div>
                        </li>
                        <li ng-show="user != null"><img src="images/photo.png"/></li>
                    </ul>
                </div>
            </div>
            <div class="inner cover">
                <!-- Alert Banner -->
                <div id="alert">
                    <div id="alert_no_domain" class="alert alert-danger" ng-model="selectedDomain" ng-hide="selectedDomain != null && selectedDomain.name != ''">
                        <span class="lead">No Domain Selected</span>

                        <p>Select a Domain
                    </div>

                    <div id="alert_selected" ng-model="selectedTrail" ng-hide="selectedTrail == null || selectedTrail.name == ''" class="alert alert-success">
                        <span id="selected_trail" class="lead">{{selectedTrail.name}}</span>

                        <p>Continue browsing or select a different trail.
                    </div>
                    <div id="alert_none" class="alert alert-danger" ng-model="selectedTrail" ng-hide="selectedTrail != null && selectedTrail.name != ''">
                        <span class="lead">No Trail Selected</span>

                        <p>Please select a trail before you continue.
                    </div>
                    <div id="alert_processing" class="alert alert-warning" ng-show="processingNewTrail">
                        <span class="lead">Creating new Trail</span>

                        <p>Your new trail is being created, please wait.</p>
                    </div>
                    <div id="alert_failed" class="alert alert-danger" ng-show="processingNewTrailFailed">
                        <span class="lead">Failed to create Trail</span>

                        <p>Ensure you have selected a domain and that your trail name contains alpha-numberic characters only.</p>
                    </div>
                    <div id="alert_not_changed" class="alert alert-warning" style="display: none">
                        <span id="selected_trail_warn" class="lead">No Trail Selected</span>

                        <p>Warning! Your trail has not yet been changed, please continue to select a new trail below.</p>
                    </div>
                </div>
                <!-- End Alert Banner -->
                <h4>Org: {{user.org}}</h4>
                <h4>Domain: <span id="domain_label">{{selectedDomain.name}}</span></h4>

                <div style="color: #000">
                    <select class="form-control" ng-model="selectedDomain" ng-change="domainChanged(selectedDomain);" ng-options="domain.name for domain in domains"
                            data-placeholder="Select a Domain"></select>
                </div>

                <div id="trail-container" class="ng-hide" ng-model="selectedDomain" ng-show="selectedDomain != null && selectedDomain.name != ''">
                    <h4> Select an existing trail: </h4>

                    <div style="color: #000;">
                        <select class="form-control" ng-model="selectedTrail" ng-change="trailChanged(selectedTrail);" ng-options="trail.name for trail in trails"
                                data-placeholder="Select a Trail"></select>
                    </div>
                    <div id="create_new_trail">
                        <h4> Create New Trail</h4>
                        <table width="100%">
                            <tr>
                                <td>
                                    <div id="trail-name-option-group" class="input-group">
                                        <span class="input-group-addon">Name</span>
                                        <input id="new_trail_name" ng-model="newTrail.name" ng-keypress="keyPressed($event);" type="text" class="form-control" placeholder="Enter an alphanumeric trail name"/>
                                        <span class="input-group-btn">
                                            <button id="new_trail_create_btn" ng-click="createNewTrail();" class="btn btn-default" type="button">Create</button>
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon">Description</span>
                                        <input id="new_trail_description" ng-keypress="keyPressed($event);" ng-model="newTrail.description" type="text" class="form-control"
                                               placeholder="Enter a description (optional)"/>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="mastfoot ">
                <div class="alert alert-info" role="alert">
                    Trails collect your browsing information for a specific task or investigation so its easy to explore and make use of your findings. To remain on your current trail just continue
                    browsing.
                    You
                    can
                    also create a new trail or pick an existing one.
                </div>
                <div class="alert alert-info" role="alert">
                    Trails can be contributed to by multiple users. Please sign in to use trails.
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-1.11.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/signin.js"></script>
<script src="js/chosen.jquery.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/newTab.js"></script>
</body>
</html>