.dw-highlight-img {
    padding: '3px',
  	background-color: yellow;
  	border-style: solid;
    border-width: 15px;
    border-color: yellow;
    opacity: 0.4;
    filter: alpha(opacity=40);
}

.dialogue button{
    display: inline-block !important;
}

.ui-dialog-osx {
    -moz-border-radius: 0 0 8px 8px;
    -webkit-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; border-width: 0 8px 8px 8px;
}

table, td, th {
    border: 1px solid grey;
}

th {
    background-color: grey;
    color: white;
}

.urlive-container {
    margin-top:15px;
    width:450px;
}

/* Text on images */
.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}

h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

h2 span.spacer {
   padding:0 5px;
}