<div class="tab-pane active" id="all_extracted_entities">
    <div>
        <h3>Extracted Features</h3>

        <div ng-repeat="(entityType, entities) in extracted_entities_dict">
            <h3>{{entityType}}</h3>
            <table class="table table-bordered">
                <tr ng-repeat="name in entities track by $index">
                    <td>
                        <span ng-switch on="isExtracted(entityType, name)">
                            <span ng-switch-when="true" style="font-weight: bold">{{name}}</span>
                            <span ng-switch-default style="font-weight: normal">{{name}}</span>
                        </span>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>